@using Models
@model IQueryable<Player>

    <div class="allplayersfromclub">
        <a class="mainpage" href="/Home/Index">Main page</a>
        <br />
        <br />
        <table class="default">
            <tr>
                <th>Name</th>
                <th>Nationality</th>
                <th>Birthdate</th>
                <th>Position</th>
                <th>Value</th>
            </tr>

            @foreach (var player in Model)
            {
                <tr>
                    <td>@player.PlayerName</td>
                    <td>@player.PlayerNationality</td>
                    <td>@player.PlayerBirthDate.ToString("yyyy.MM.dd") &nbsp; (@(DateTime.Now.Year - player.PlayerBirthDate.Year)) &nbsp; &nbsp;</td>
                    <td>@player.PlayerPosition</td>
                    <td>€@player.PlayerValue m</td>
                    <td><a class="button" href="/Home/DeletePlayer?playerid=@player.PlayerID">Delete</a></td>
                    <td>&nbsp;<a class="button" href="/Home/UpdatePlayer?playerid=@player.PlayerID">Update</a></td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>€@Math.Round(Model.Sum(x => x.PlayerValue), 2) m</td>
            </tr>
        </table>
    </div>