@using Models
@model Club
<!DOCTYPE html>
<html>
<head>
    <title>@Model.ClubName</title>
</head>
<body>

    <a href="/Home/Index">[Main page]</a> <br />
    <h1>@Model.ClubName</h1>
    <a href="/Home/AddPlayer?clubid=@Model.ClubID">Add new player</a> &nbsp;
    <a href="/Home/UpdateClub?clubid=@Model.ClubID">Update club</a>
    <br />
    <a href="/Home/ClubStatistics?clubid=@Model.ClubID">Statistics</a>
    <br /> <br />

    <table>
        <tr>
            <th>Founded &nbsp; &nbsp;</th>
            <th>Colour &nbsp; &nbsp;</th>
            <th>City &nbsp; &nbsp;</th>
            <th>Stadium &nbsp; &nbsp;</th>
        </tr>
        <tr>
            <td>@Model.ClubFounded &nbsp; &nbsp;</td>
            <td>@Model.ClubColour &nbsp; &nbsp;</td>
            <td>@Model.ClubCity &nbsp; &nbsp;</td>
            <td>@Model.Stadium &nbsp; &nbsp;</td>
        </tr>
    </table>

    <br />
    @if (Model.Manager != null)
    {
        <a href="/Home/Manager?managerid=@Model.Manager.ManagerID">@Model.Manager.ManagerName</a>
        <a href="/Home/DeleteManager?managerid=@Model.Manager.ManagerID">[Delete]</a>
        <a href="/Home/UpdateManager?managerid=@Model.Manager.ManagerID">[Update]</a> <br />
        <br />
    }
    else
    {
        <a href="/Home/AddManager?clubid=@Model.ClubID">[Add manager]</a> <br /> <br />
    }
    <a href="/Home/AllPlayerFromClub?clubid=@Model.ClubID">Players</a>

</body>
</html>