@using Models
@model Player

<a class="mainpage" href="/Home/Index">Main page</a>
<br /><br /><br /><br />
<h1>@Model.PlayerName</h1>
<br /><br /><br />

<table class="default">
    <tr>
        <th>Nationality</th>
        <th>Birthdate</th>
        <th>Position</th>
        <th>Value</th>
        <th>Club</th>
    </tr>
    <tr>
        <td>@Model.PlayerNationality</td>
        <td>@Model.PlayerBirthDate.ToString("yyyy.MM.dd") &nbsp; (@(DateTime.Now.Year - Model.PlayerBirthDate.Year))&nbsp; &nbsp;</td>
        <td>@Model.PlayerPosition</td>
        <td>€@Model.PlayerValue m</td>
        <td>@Model.Club.ClubName</td>
    </tr>
</table>